@{
    ViewData["Title"] = "AboutUs";
}

<div class="container">
    <h2 class="mt-5">About ShawlGalore</h2>
    <p>Welcome to ShawlGalore, your one-stop destination for high-quality shawls and wraps.</p>

    <h2 class='h-bg-color'>Our Mission</h2>
    <p>At ShawlGalore, our mission is to provide our customers with the most exquisite and stylish shawls that not only keep you warm but also elevate your style. We believe in offering a curated collection of shawls crafted from the finest materials and designed with impeccable craftsmanship.</p>

    <h2 class='h-bg-color'>Quality and Craftsmanship</h2>
    <p>
        We take great pride in the quality of our shawls. Each shawl in our collection is carefully selected for its exceptional materials
        and attention to detail. Whether it's the softness of a cashmere shawl, the vibrant colors of a silk scarf, or the warmth of a
        woolen wrap, our shawls are a testament to the art of craftsmanship.
    </p>

    <h2 class='h-bg-color'>Our Story</h2>
    <p>
        ShawlGalore was founded in 2018 by a team of passionate individuals who shared a love for shawls and a vision for making them more
        accessible to everyone. What started as a small idea has grown into a thriving platform where shawl enthusiasts can explore and find
        the perfect shawl for every occasion.
    </p>

    <h2 class='h-bg-color'>Explore Our Collection</h2>
    <p>
        We invite you to explore our extensive collection of shawls, ranging from elegant pashmina wraps to vibrant silk scarves.
        Whether you're looking for a statement piece for a special event or a cozy companion for everyday use, we have a shawl that suits
        your style and needs.
    </p>

    <h2 class='h-bg-color'>Contact Us</h2>
    <p>
        If you have any questions or would like to get in touch with us, please don't hesitate to contact our customer support team.
        We're here to assist you and ensure your experience with ShawlGalore is as enjoyable as our shawls are to wear.
    </p>
    <h2 class='h-bg-color'>Location</h2>
    <p> 2000 Talbot Road, Windsor, ON (N9G 3C3), Canada</p>

    <p>Thank you for choosing ShawlGalore for your shawl needs. We look forward to being a part of your shawl journey.</p>
</div>
