@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p> Shawl Galore, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines the types of personal data we collect, how we use it, and the measures we take to safeguard your information when you visit and use our website.</p>

<h2 class="h-bg-color"> Information We Collect </h2>

<p> Personal Information: When you make a purchase or create an account on our website, we collect personal information such as your name, email address, shipping address, and payment details. We use this information to process orders and provide customer support.</p>

<p><b>Usage Data:</b> We may collect non-personal information related to your interactions with our website. This includes information about your device, browser, IP address, and pages you visit. We use this data to analyze website performance and enhance your user experience.</p>

<p><b>Cookies:</b> We use cookies and similar tracking technologies to improve our website's functionality and personalize your browsing experience. You can manage your cookie preferences through your browser settings.</p>

<h2 class="h-bg-color">
    How We Use Your Information
</h2>
<p>

    <b>Order Processing:</b> We use your personal information to process orders, fulfill purchases, and provide shipping and tracking information.
</p>
<p>
    <b>Communication:</b>> We may send you order updates, promotional offers, and newsletters if you subscribe to them. You can opt-out of these communications at any time.
</p>
<p>
    <b>Analytics:</b> We analyze user data to improve our website's performance, content, and functionality.
</p>

<h2 class="h-bg-color">Data Security</h2>

<p>We implement industry-standard security measures to protect your personal information. This includes encryption, firewalls, and secure payment processing to ensure the confidentiality and integrity of your data.</p>

<h2 class="h-bg-color">Third-Party Disclosure</h2>

<p>We do not sell, trade, or share your personal information with third parties, except for partners and service providers necessary for order fulfillment and website operation. These entities are required to maintain the confidentiality of your data.</p>

<h2 class="h-bg-color">Your Rights</h2>

<p>You have the right to access, update, or delete your personal information stored with us. You can make these requests by contacting our customer support.</p>

<h2 class="h-bg-color">Policy Changes</h2>

<p>We reserve the right to update and modify this Privacy Policy periodically. Any changes will be posted on our website with the updated effective date.</p>

<p>By using our website, you consent to the terms outlined in this Privacy Policy.</p>

<h2 class="h-bg-color">Contact Us</h2>

<p>If you have any questions or concerns about this Privacy Policy or the way we handle your personal information, please contact us at <a href="mailto:w0800287@myscc.ca">w0800287@myscc.ca</a>.</p>
